{% extends 'base.html.twig' %}

{% block body %}
		<div class="container-fluid px-5 py-5">
		<h2 class="text-center display-4"> <span id="n">Venez</span> <span id="o">découvrir nos</span> <span id="t">ateliers</span></h2>
			<div class="row">
			{% for atelier in ateliers %}
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pt-3 pb-3">
					<div class="card w-100 h-100">
					{% if atelier %}
					  <img class="img-fluid" src="{{ atelier.image }}" alt="image atelier" />
					{% endif %}
					  <div class="card-body">
					    <h5 class="card-title text-center" id="t">{{ atelier.titre }} </h5>
					    <p class="card-text text-secondary text-justify">
							{{ atelier.description|raw }}
						</p>
						<p class="text-center" style="color:red; font-weight: bolder;">
						{{ atelier.date | date('d/m/Y') }}</p><br/>
					    <a href="{{ path('formulaire_inscription', { titre : atelier.titre , id : atelier.id }) }}" class="btn btn-info mt-2 w-100">Réservez ce cours</a>
					  </div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
{% endblock %}
