{% block navbar %}
    <nav class="main-navigation container-fluid">
        <div class="navbar-header animated fadeInUp">
            <img src="{{asset('css/images/logokids.png')}}" class="navbar-brand"/>
        </div>
        <div class="container">
            <ul class="nav-list">
                <li class="nav-list-item">
                    <a href="{{ path('home_page') }}" class="nav-link" id="accueil">Accueil</a>
                </li>
                <li class="nav-list-item">
                    <a href="{{ path('ateliers') }}" class="nav-link" id="ateliers">Ateliers</a>
                </li>
                <li class="nav-list-item">
                    <a href="{{ path('ecoles') }}" class="nav-link" id="ecoles">Écoles</a>
                </li>
                {% if app.user %}
                <li class="nav-list-item">
                    <a href="{{ path('security_logout') }}" 
                        class="nav-link" 
                        id="log" 
                        alt="se déconnecter">Déconnexion <i class="fas fa-sign-out-alt" style="font-size: 15px;"></i></a>
                </li>
                <li class="nav-list-item">
                    <a href="{{ path('easyadmin')}}"
                       class="nav-link"
                       id="log" 
                        alt="se connecter">Admin</a>
                </li>

                <li class="nav-list-item">
                    <a class="nav-link" id="bienvenue">{{ app.user.username }} <i class="fab fa-reddit" style="font-size: 15px;"></i></a>
                </li>

                {% else %} 
                <li class="nav-list-item">
                    <a href="{{ path('security_login') }}" 
                        class="nav-link" 
                        id="log" 
                        alt="se connecter">Connexion <i class="fas fa-sign-in-alt" style="font-size: 15px;"></i></a>
                <li class="nav-list-item">
                    <a href="{{ path('security_registration') }}" class="nav-link" id="log"> S'inscrire</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}